<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="../../../resources/css/fam-icons.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/fam-icons.css}"/>
    <link href="../../../resources/css/sticky-footer.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/sticky-footer.css}"/>
    <script src="../../../resources/js/jquery-latest.js" th:src="@{/resources/js/jquery-latest.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="row">
            <div class="span12">

                <div th:replace="fragments/header :: header">&nbsp;</div>
                <div class="container">
                    <!-- /* Handle the flash message */-->
                    <th:block th:if="${message != null}">
                        <!-- /* The message code is returned from the @Controller */ -->
                        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
                            &nbsp;</div>
                    </th:block>
                    <p>

                    </p>

                    <div class="container-fluid">
                        <i id="result-icon" class="fam-add "></i>


                        <div id="question" class="alert"></div>
                        <div id="alert" class="alert-danger"></div>
                        <div>
                            <table class="span12">
                                <tr>
                                    <td class="text-center">
                                        <i id="hint0" class="fam-emoticon-unhappy "></i>
                                    </td>
                                    <td class="text-center">
                                        <i id="hint1" class="fam-emoticon-unhappy "></i>
                                    </td>
                                    <td class="text-center">
                                        <i id="hint2" class="fam-emoticon-unhappy "></i>
                                    </td>
                                    <td class="text-center">
                                        <i id="hint3" class="fam-emoticon-unhappy "></i>
                                    </td>
                                    <td class="text-center">
                                        <i id="hint4" class="fam-emoticon-unhappy "></i>
                                    </td>
                                    <td class="text-center">
                                        <i id="hint5" class="fam-emoticon-unhappy "></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="item0" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                    <td>
                                        <input id="item1" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                    <td>
                                        <input id="item2" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                    <td>
                                        <input id="item3" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                    <td>
                                        <input id="item4" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                    <td>
                                        <input id="item5" type="button" class="btn btn-large btn-primary" value="?"/>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="background-color:#c2c2c2">
    <div th:include="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</footer>
</body>
<script>
    //     <![CDATA[
    show = function (msg) {
        <!--TODO delay must be optional 1- the question nature 2- user preference -->
        <!--TODO removing flicker on fast connections -->

//        timeout = 0;
//        if (msg.delayed) {
//            $("#alert").show();
//            $("#alert").html('3');
//            setTimeout(function () {
//                $("#alert").html('2');
//            }, 1000);
//            setTimeout(function () {
//                $("#alert").html('1');
//            }, 2000);
//            setTimeout(function () {
//                $("#alert").hide();
//            }, 3000);
//            timeout = 3000;
//        }
        for (var index = 0; index < 6; index++)
            if (msg.items[index] != null) {
                $("#item" + index).val(msg.items[index]);
                $("#item" + index).show();
                if (msg.hints[index] == -1) {
                    $("#hint" + index).show();
                    $("#item" + index).prop("disabled", true);
                }
                else {
                    $("#item" + index).prop("disabled", false);

                }
            }
//        index++;
//        if (msg.items[index] != null) {
//            $("#item" + index).val(msg.items[index]);
//            $("#item" + index).show();
//            if (msg.hints[index] == -1) {
//                $("#hint" + index).show();
//                $("#item" + index).prop("disabled", true);
//            }
//            else {
//                $("#item" + index).prop("disabled", false);
//
//            }
//        }
//        index++;
//        if (msg.items[index] != null) {
//            $("#item" + index).val(msg.items[index]);
//            $("#item" + index).show();
//            if (msg.hints[index] == -1) {
//                $("#hint" + index).show();
//                $("#item" + index).prop("disabled", true);
//            }
//            else {
//                $("#item" + index).prop("disabled", false);
//
//            }
//        }
//        index++;
//        if (msg.items[index] != null) {
//            $("#item" + index).val(msg.items[index]);
//            $("#item" + index).show();
//            if (msg.hints[index] == -1) {
//                $("#hint" + index).show();
//                $("#item" + index).prop("disabled", true);
//            }
//            else {
//                $("#item" + index).prop("disabled", false);
//
//            }
//        }
//        index++;
//        if (msg.items[index] != null) {
//            $("#item" + index).val(msg.items[index]);
//            $("#item" + index).show();
//            if (msg.hints[index] == -1) {
//                $("#hint" + index).show();
//                $("#item" + index).prop("disabled", true);
//            }
//            else {
//                $("#item" + index).prop("disabled", false);
//
//            }
//        }
//        index++;
//        if (msg.items[index] != null) {
//            $("#item" + index).val(msg.items[index]);
//            $("#item" + index).show();
//            if (msg.hints[index] == -1) {
//                $("#hint" + index).show();
//                $("#item" + index).prop("disabled", true);
//            }
//            else {
//                $("#item" + index).prop("disabled", false);
//
//            }
//        }
    }
    send = function (item) {

        $("#item0").hide();
        $("#item1").hide();
        $("#item2").hide();
        $("#item3").hide();
        $("#item4").hide();
        $("#item5").hide();

        $("#hint0").hide();
        $("#hint1").hide();
        $("#hint2").hide();
        $("#hint3").hide();
        $("#hint4").hide();
        $("#hint5").hide();

        $.ajax({
            type: "GET",
            url: "question/next/" + item
        }).done(function (msg) {
                    $("#result-icon").removeClass();
                    $("#result-icon").addClass(msg.result ? "fam-emoticon-smile" : "fam-emoticon-unhappy");


                    $("#question").html(msg.description);
                    $("#id").html(msg.id);

                    show(msg);
                });
    }

    $(function () {
        $("#item0").on("click", function () {
            send(0);
        })
    });
    $(function () {
        $("#item1").on("click", function () {
            send(1);
        })
    });
    $(function () {
        $("#item2").on("click", function () {
            send(2);
        })
    });
    $(function () {
        $("#item3").on("click", function () {
            send(3);
        })
    });
    $(function () {
        $("#item4").on("click", function () {
            send(4);
        })
    });
    $(function () {
        $("#item5").on("click", function () {
            send(5);
        })
    });
    send(-1);
    //     ]]>
</script>
</html>